table{
    width:1000px;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    margin-top: 50px;
    color:black;
}
th{
    background-color: #ee3d3d;
    text-align: center;

    padding: 30px;
}
td{
    text-align: center;
}
table,th,td{

    border: 1px solid #000;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
}
tr:nth-child(even){
    background-color: aquamarine
}


thead{
    background-color: #ee2828;
}